//@@include('inc/header.html')

<!-- Section: Main -->
<main class="l-main">

    <!-- Section: about -->
    <section class="section about style-d alt" id="about">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <div class="inner-item">
                        <img class="logo" src="assets/img/Logo-2.jpg" alt="">
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="inner">
                        <h2 class="subtitle">OUR STORY</h2>
                        <p class="text-alt">This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate
                            cursus
                        </p>
                        <p class="text-alt">Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
                        </p>
                        <div class="section-button">
                            <a class="components c-button-style-d border margin" href="#.">LEARN MORE</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Section: about -->

    <!-- Section: video -->
    <section class="section video style-d" id="video">
        <div class="bg-video">
            <div class="inner-bg">
                <video class="video-media" src="assets/img/coverr-mountains-view-1563376688037.mp4" autoplay muted loop></video>
            </div>
            <div class="video-content">
                <div class="container">
                    <a class="item" href="#.">
                        <img class="icon-play" src="assets/img/play.png" alt="">
                    </a>
                    <h2 class="subtitle-alt">WATCH OUR STORY</h2>
                </div>
            </div>
        </div>
    </section>
    <!-- Section: video -->

    <!-- Section:expertise -->
    <section class="expertise style-d" id="expertise">
        <div class="container">
            <div class="inner">
                <h2 class="subtitle">EXPERTISE</h2>
                <h3 class="subtext">Lorem ipsum dolor sit amet proin gravida nibh vel velit</h3>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="item">
                        <div class="icon">
                            <img src="assets/img/icon1.png" alt="">
                        </div>
                        <div class="prof">WEB DESIGN & DEVELOPMENT</div>
                        <p class="text-alt">This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenean.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="item">
                        <div class="icon">
                            <img src="assets/img/icon4.png" alt="">
                        </div>
                        <div class="prof">SEARCH ENGINE OPTIMIZATION</div>
                        <p class="text-alt">This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenean.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="item">
                        <div class="icon">
                            <img src="assets/img/icon3.png" alt="">
                        </div>
                        <div class="prof">MOBILE APP</div>
                        <p class="text-alt">This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenean.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="item">
                        <div class="icon">
                            <img src="assets/img/icon2.png" alt="">
                        </div>
                        <div class="prof">BRANDING IDENTITY</div>
                        <p class="text-alt">This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenean.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="item">
                        <div class="icon">
                            <img src="assets/img/icon5.png" alt="">
                        </div>
                        <div class="prof">GAME DEVELOPMENT</div>
                        <p class="text-alt">This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenean.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="item">
                        <div class="icon">
                            <img src="assets/img/icon6.png" alt="">
                        </div>
                        <div class="prof">MADE WITH LOVE</div>
                        <p class="text-alt">This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenean.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Section:expertise -->

    <!-- Section:team -->
    <section class="team style-d" style="background-image: url(assets/img/bg2.png); max-width:100%" id="team">
        <div class="team-bg">
            <div class="container">
                <h2 class="title alt">MEET OUR AMAZING TEAM</h2>
                <h3 class="subtext color">Lorem ipsum dolor sit amet proin gravida nibh vel velit</h3>
                <div class="row">
                    <div class="col-md-3">
                        <div class="item">
                            <div class="photo">
                                <img src="https://via.placeholder.com/230x230" alt="">
                            </div>
                            <h2 class="name">SEMF UCUK</h2>
                            <h3 class="prof">CEO & FOUNDER</h3>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="item">
                            <div class="photo">
                                <img src="https://via.placeholder.com/230x230" alt="">
                            </div>
                            <h2 class="name">DIK ADALIN</h2>
                            <h3 class="prof">ENGINEERING</h3>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="item">
                            <div class="photo">
                                <img src="https://via.placeholder.com/230x230" alt="">
                            </div>
                            <h2 class="name">JENG KOL</h2>
                            <h3 class="prof">DESIGNER</h3>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="item">
                            <div class="photo">
                                <img src="https://via.placeholder.com/230x230" alt="">
                            </div>
                            <h2 class="name">PET ROMAK</h2>
                            <h3 class="prof">MARKETING</h3>
                        </div>
                    </div>
                </div>
                <p class="text-alt color">Become part of our dream team, let’s join us ! </p>
                <div class="section-button">
                    <a class="components c-button-style-d border size" href="#.">WE ARE HIRING</a>
                </div>
            </div>
        </div>
    </section>
    <!-- Section:team -->

    <!-- Section:work -->
    <section class="work style-d" id="works">
        <div class="container">
            <div class="section-works">
                <h2 class="subtitle">OUR WORKS</h2>
                <a href="#." class="project">See All Project in dribbble <img class="right" src="assets/img/right.png"
                        alt=""></a>
            </div>
        </div>
        <div class="images">
            <div class="col-img"><img class="imag" src="https://via.placeholder.com/300x200" alt=""></div>
            <div class="col-img"><img class="imag" src="https://via.placeholder.com/300x200" alt=""></div>
            <div class="col-img"><img class="imag" src="https://via.placeholder.com/300x200" alt=""></div>
            <div class="col-img"><img class="imag" src="https://via.placeholder.com/300x200" alt=""></div>
            <div class="col-img"><img class="imag" src="https://via.placeholder.com/300x200" alt=""></div>
            <div class="col-img"><img class="imag" src="https://via.placeholder.com/300x200" alt=""></div>
            <div class="col-img"><img class="imag" src="https://via.placeholder.com/300x200" alt=""></div>
        </div>
        <div class="images">
            <div class="col-img"><img class="imag" src="https://via.placeholder.com/300x200" alt=""></div>
            <div class="col-img"><img class="imag" src="https://via.placeholder.com/300x200" alt=""></div>
            <div class="col-img"><img class="imag" src="https://via.placeholder.com/300x200" alt=""></div>
            <div class="col-img"><img class="imag" src="https://via.placeholder.com/300x200" alt=""></div>
            <div class="col-img"><img class="imag" src="https://via.placeholder.com/300x200" alt=""></div>
            <div class="col-img"><img class="imag" src="https://via.placeholder.com/300x200" alt=""></div>
            <div class="col-img"><img class="imag" src="https://via.placeholder.com/300x200" alt=""></div>
        </div>
        <div class="container">
            <div class="section-button">
                <a class="components c-button-style-d border size" href="#.">LOAD MORE</a>
            </div>
        </div>
    </section>

    <!-- Section:Testimonials -->
    <section class="testimonials" style="background-image: url(assets/img/bg-test.jpg); max-width: 100%;" id="testimonials">
        <div class="container">
            <div class="icon"><img src="assets/img/icon.png" alt=""></div>
            <p class="coments">This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus
                a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat consequat auctor eu in elit.
            </p>
            <div class="slider-2">
                <div class="slider-content">
                    <h2 class="name">JANE GALADRIEL</h2>
                    <h3 class="prof">CEO TENGKUREP</h3>
                </div>
                <div class="slider-content">
                    <h2 class="name">DIK ADALIN</h2>
                    <h3 class="prof">ENGINEERING</h3>
                </div>
                <div class="slider-content">
                    <h2 class="name">JENG KOL</h2>
                    <h3 class="prof">DESIGNER</h3>
                </div>
                <div class="slider-content">
                    <h2 class="name">PET ROMAK</h2>
                    <h3 class="prof">MARKETING</h3>
                </div>
            </div>
            <div class="slider-3">
                <div class="inner-slider" >
                    <div class="item"> <img class="slider-item" src="assets/img/img1.png" alt=""></div>
                    <div class="item"> <img class="slider-item" src="assets/img/img2.png" alt=""></div>
                    <div class="item"> <img class="slider-item" src="assets/img/img3.png" alt=""></div>
                    <div class="item"> <img class="slider-item" src="assets/img/img4.png" alt=""></div>
                    <div class="item"> <img class="slider-item" src="assets/img/img4.png" alt=""></div>
                </div>
            </div>
        </div>
    </section>
    <!-- Section:Testimonials -->

    <!-- Section:Contact -->
    <section class="contact style-d">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="inner">
                        <h2 class="subtitle">GIVE US A GOOD NEWS</h2>
                        <form class="form-field" action="">
                            <input type="text" placeholder="Name">
                            <input type="email" placeholder="Email">
                            <input type="text" placeholder="Subject">
                            <textarea name="" placeholder="Your Massage"></textarea>
                        </form>
                        <div class="section-button"><a class="components c-button-style-d border margin" href="#.">SUBMIT</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="inner">
                        <h2 class="subtitle">OUR HAPPY CLIENT</h2>
                        <div class="clients">
                            <img class="logo" src="assets/img/Zara_Logo.png" alt="">
                            <img class="logo" src="assets/img/Logo_of_Mango.png" alt="">
                            <img class="logo" src="assets/img/New_York_Logo.svg.png" alt="">
                            <img class="logo gucci" src="assets/img/Gucci_Logo.png" alt="">
                            <img class="logo" src="assets/img/Calvin_klein_logo.png" alt="">
                            <img class="logo nike" src="assets/img/NIKE.png" alt="">
                            <img class="logo" src="assets/img/Converse_logo.png" alt="">
                            <img class="logo puma" src="assets/img/Puma_Logo.svg.png" alt="">
                            <img class="logo" src="assets/img/Levi's_logo.png" alt="">
                            <img class="logo bong" src="assets/img/Billabong.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Section:Contact -->
</main>
<!-- Section: Main -->

//@@include('inc/footer.html')