<!-- Section: Footer -->
<footer class="c-footer style-d " id="contact">
    <div class="bg-footer" style="background-image: url(assets/img/bg-footer.jpg);">
        <div class="bg-inner"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="inner">
                        <div class="logo">
                            <img src="assets/img/logo.png" alt="">
                        </div>
                        <p class="text-alt color">lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh elit. Duis sed odio sit amet auctror a ornare odio non mauris vitae erat in elit
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="inner">
                        <div class="adres-name">OUR STUDIO</div>
                        <img class="icon" src="assets/img/big.png" alt="">
                        <a href="https://goo.gl/maps/zNmgckgUCYu1FfKR7" target="_blank" class="text-alt color adres hover">Ruko cucruk, Jl. Radio luar dalem jos No.12 - 13, Kalideres - Jakarta Barat 11480 - Indonesia
                        </a>
                        <div class="tel">
                            <a class="text-alt color tel hover" href="tel:+1234567890"><img class="icon" src="assets/img/phone.png" alt=""> +1234567890
                            </a>
                        </div>

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="inner">
                        <div class="adres-name">STAY IN TOUCH</div>
                        <form class="form-field" action="">
                            <input type="text" placeholder="Subscribe our newsletter">
                            <a class="paper" href="#."><img src="assets/img/paper.png" alt=""></a>
                        </form>
                    </div>
                    <div class="section-social">
                        <a class="components social" href="https://ru-ru.facebook.com/" target="_blank"><img class="icon-social" src="assets/img/face.png" alt=""></a>
                        <a class="components social" href="https://twitter.com/?lang=ru" target="_blank"><img class="icon-social" src="assets/img/twitter.png" alt=""></a>
                        <a class="components social" href="https://dribbble.com/" target="_blank"><img class="icon-social" src="assets/img/dribbble.png" alt=""></a>
                        <a class="components social" href="https://www.instagram.com/?hl=ru" target="_blank"><img class="icon-social" src="assets/img/instagram.png" alt=""></a>
                        <a class="components social" href="https://www.google.com/" target="_blank"><img class="icon-social" src="assets/img/google.png" alt=""></a>
                        <a class="components social" href="https://www.youtube.com/?gl=RU&tab=r11" target="_blank"><img class="icon-social" src="assets/img/youtube.png" alt=""></a>
                    </div>
                </div>
            </div>
            <nav class="nav">
                <div class="nav-footer">
                    <a class="nav-link" href="#.">HELP</a>
                    <a class="nav-link" href="#.">TERMS & CONDITION</a>
                    <a class="nav-link" href="#.">PRIVACY</a>
                </div>
                <h2 class="copyring">Copyright © 2015 - Tajem Creative</h2>
            </nav>
        </div>
    </div>
</footer>
<!-- End of Section: Footer -->

<!-- Scripts -->
<script src="assets/js/vendor.min.js?v=1"></script>
<script src="assets/js/main.min.js?v=1"></script>
<!-- End of Scripts -->

</body>

</html>