<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Meta: Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- End of Meta: Basic -->

    <!-- Meta: Mobile -->
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <!-- End of Meta: Mobile -->

    <!-- Meta: Site -->
    <title>Tajam</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- End of Meta: Site -->

    <!-- Meta: Basic Images -->
    <meta property="og:image" content="assets/img/og-image.jpg">
    <link rel="shortcut icon" href="assets/img/favicon/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="assets/img/favicon/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="assets/img/favicon/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="assets/img/favicon/apple-touch-icon-114x114.png">
    <!-- End of Meta: Basic Images -->


    <!-- Styles -->
    <link rel="stylesheet" href="assets/css/main.min.css?v=1">
    <!-- End of Styles -->

    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Meta: Mobile Bar Color -->
    <meta name="theme-color" content="#FFFFFF">
    <meta name="msapplication-navbutton-color" content="#FFFFFF">
    <meta name="apple-mobile-web-app-status-bar-style" content="#FFFFFF">
    <!-- End of Meta: Mobile Bar Color -->

</head>

<body>

    <!-- Section: Header -->
    <header class="c-header style-d">
        <div class="slider">
            <div class="slider-item">
                <div class="header-bg" style="background-image: url(assets/img/bg.jpg); ">
                    <div class="container">
                        <nav class="nav" >
                            <div class="logo">
                                <img class="img" src="assets/img/logo.png" alt="">
                            </div>
                            <div class="menu"id="nav" >
                                <a class="menu-link" href="#.">HOME</a>
                                <a class="menu-link" href="#about">ABOUT</a>
                                <a class="menu-link" href="#expertise">EXPERTISE</a>
                                <a class="menu-link" href="#team">TEAMS</a>
                                <a class="menu-link" href="#works">WORKS</a>
                                <a class="menu-link" href="#testimonials">PEOPLE SAY</a>
                                <a class="menu-link" href="#contact">CONTACT</a>                              
                            </div>  
                            <button class="mobile-menu" type="button" id="navToggle">
                                <img class="mob-menu" src="assets/img/menu.svg" alt="">
                            </button>        
                        </nav>                       
                        <h1 class="title">We Are Awesome Creative Agency</h1>
                        <h3 class="text">This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate
                            cursus a sit amet mauris. Morbi accumsan ipsum velit.</h3>
                        <div class="section-button">
                            <a class="components c-button-style-d border" href="#.">LEARN MORE</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slider-item">
                <div class="header-bg" style="background-image: url(assets/img/bg2.jpg); ">
                    <div class="inner"></div>
                    <div class="container">
                        <nav class="nav">
                            <div class="logo">
                                <img class="img" src="assets/img/logo.png" alt="">
                            </div>
                            <div class="menu" id="nav">
                                <a class="menu-link" href="#.">HOME</a>
                                <a class="menu-link" href="#about">ABOUT</a>
                                <a class="menu-link" href="#expertise">EXPERTISE</a>
                                <a class="menu-link" href="#team">TEAMS</a>
                                <a class="menu-link" href="#works">WORKS</a>
                                <a class="menu-link" href="#testimonials">PEOPLE SAY</a>
                                <a class="menu-link" href="#contact">CONTACT</a>
                            </div>
                            <button class="mobile-menu" type="button" id="navToggle">
                                <img class="mob-menu" src="assets/img/menu.svg" alt="">
                            </button>    
                        </nav>
                        <h1 class="title">We Are Awesome Creative Agency</h1>
                        <h3 class="text">This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate
                            cursus a sit amet mauris. Morbi accumsan ipsum velit.</h3>
                        <div class="section-button">
                            <a class="components c-button-style-d border" href="#.">LEARN MORE</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slider-item">
                <div class="header-bg" style="background-image: url(assets/img/bg3.jpg); ">
                    <div class="inner"></div>
                    <div class="container">
                        <nav class="nav" >
                            <div class="logo">
                                <img class="img" src="assets/img/logo.png" alt="">
                            </div>
                            <div class="menu"id="nav" >
                                <a class="menu-link" href="#.">HOME</a>
                                <a class="menu-link" href="#about">ABOUT</a>
                                <a class="menu-link" href="#expertise">EXPERTISE</a>
                                <a class="menu-link" href="#team">TEAMS</a>
                                <a class="menu-link" href="#works">WORKS</a>
                                <a class="menu-link" href="#testimonials">PEOPLE SAY</a>
                                <a class="menu-link" href="#contact">CONTACT</a>                              
                            </div>  
                            <button class="mobile-menu" type="button" id="navToggle">
                                <img class="mob-menu" src="assets/img/menu.svg" alt="">
                            </button>        
                        </nav>
                        <h1 class="title">We Are Awesome Creative Agency</h1>
                        <h3 class="text">This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate
                            cursus a sit amet mauris. Morbi accumsan ipsum velit.</h3>
                        <div class="section-button">
                            <a class="components c-button-style-d border" href="#.">LEARN MORE</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slider-item">
                <div class="header-bg" style="background-image: url(assets/img/bg4.jpg); ">
                    <div class="inner"></div>
                    <div class="container">
                        <nav class="nav" >
                            <div class="logo">
                                <img class="img" src="assets/img/logo.png" alt="">
                            </div>
                            <div class="menu"id="nav" >
                                <a class="menu-link" href="#.">HOME</a>
                                <a class="menu-link" href="#about">ABOUT</a>
                                <a class="menu-link" href="#expertise">EXPERTISE</a>
                                <a class="menu-link" href="#team">TEAMS</a>
                                <a class="menu-link" href="#works">WORKS</a>
                                <a class="menu-link" href="#testimonials">PEOPLE SAY</a>
                                <a class="menu-link" href="#contact">CONTACT</a>                              
                            </div>  
                            <button class="mobile-menu" type="button" id="navToggle">
                                <img class="mob-menu" src="assets/img/menu.svg" alt="">
                            </button>        
                        </nav>
                        <h1 class="title">We Are Awesome Creative Agency</h1>
                        <h3 class="text">This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate
                            cursus a sit amet mauris. Morbi accumsan ipsum velit.</h3>
                        <div class="section-button">
                            <a class="components c-button-style-d border" href="#.">LEARN MORE</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- End of Section: Header -->